<h1>Wachtwoord vergeten <small>Lekker bezig tamme...</small></h1>

<p class="description">
  Vul je gebruikersnaam & je email in, vervolgens krijg je een mailtje van <strong>admin@lijstr.nl</strong>.
  <br/>
  Hier zal een link/knop in staan naar een pagina waar je je nieuwe wachtwoord kan invullen. <br/>
  Deze link zal maar <strong>30</strong> minuten geldig zijn.
</p>

<form (ngSubmit)="onSubmit()" #resetForm="ngForm" [hidden]="submitting || finished">

  <div class="form-group">
    <label for="username">Gebruikersnaam</label>
    <input type="text" class="form-control" required
           id="username" name="username" #username="ngModel"
           [(ngModel)]="model.username">
    <div [hidden]="username.valid || username.pristine"
         class="alert alert-danger">
      Wie?
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" required
           id="email" name="email" #email="ngModel"
           pattern="[^@]+@[^@]+\.\w+"
           [(ngModel)]="model.email">
    <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">
      Ja, dat lijkt me geen geldig emailadres.
    </div>
  </div>

  <div class="alert alert-danger error" *ngIf="error != null">
    {{error.toString()}}
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!resetForm.form.valid">Nieuw wachtwoord aanvragen</button>

</form>

<div *ngIf="submitting">
  <img src="https://telluur.com/wtf/gifs/lazerbeam.gif" />
</div>

<p *ngIf="finished">Mail verzonden naar <strong>{{model.email}}</strong> <small>(check ook je spam folder?)</small></p>
