.episode-header {
  display: flex;
  flex-direction: row;
}

.episode-info {
  flex-grow: 1;
}

.episode-watch-status {
  align-self: center;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.is-hidden {
  filter: blur(4px);
  cursor: pointer;
}


.buttons {
  display: flex;
  flex-direction: row;
}

.buttons .btn {
  margin-top: 12px;
}

.episode-user-data {

  &--my-reaction {

    display: flex;
    align-items: center;

    :not(:first-child) {
      margin-left: 8px;
    }

  }

  .reactions {

    .reaction {

    }


  }


}

.comments {

  &__header {
    margin: 16px 0;
    display: flex;
    flex-direction: row;

    &--title {
      flex-grow: 1;
    }

  }

  .is-own-comment {
    .panel {
      border-color: green;
    }
  }


}

.comment {
  padding: 8px;
  border: 1px solid ;
}

