
<!-- TODO: Add arrows on the sides to switch to the next/prev episode -->

<div class="container" *ngIf="episode" #body>

  <!-- https://github.com/dmacfarlane/angular-mentions#readme -->

  <div class="episode-header">
    <div class="episode-info">
      <h1>
        <span style="color: #777777;">
          S{{ season.seasonNumber | number: "2.0-0" }}E{{ episode.episodeNumber | number: "2.0-0" }}
        </span>
        {{ episode.title }}
      </h1>
      <p [class.is-hidden]="(userMeta && !userMeta.seen) && !forceVisibleSummary" (click)="forceVisibleSummary = true">
        {{ episode.overview }}
      </p>
    </div>
    <div class="episode-watch-status" *ngIf="userMeta">
      <button class="btn btn-warning" *ngIf="!userMeta.seen" title="Als gezien markeren?" (click)="markAsSeen()">
        <span class="glyphicon glyphicon-eye-open"></span>
        Gezien?
      </button>
      <button class="btn btn-success" *ngIf="userMeta.seen" title="Als niet gezien markeren?" (click)="markAsNotSeen()">
        <span class="glyphicon glyphicon-check"></span>
        Gezien!
      </button>
    </div>
  </div>

  <div class="alert alert-warning" *ngIf="notSeenPreviousEpisodes">
    <p>
      Er zijn nog {{ notSeenPreviousEpisodes }} vorige episodes die nog op 'Niet geien' staan. Wil je ze allemaal automatisch aanpassen naar 'Gezien'?
    </p>
    <div class="buttons">
      <div style="flex-grow: 1">
        <button class="btn btn-danger" (click)="notSeenPreviousEpisodes = undefined">
          Niet aanpassen
        </button>
      </div>
      <button class="btn btn-success" (click)="markPreviousEpisodesAsSeen()">
        Aanpassen naar 'Gezien'
      </button>
    </div>
  </div>

  <div class="episode-user-data">

    <div *ngIf="userMeta && userMeta.seen" class="episode-user-data--my-reaction">
      <span>Gezien op {{ userMeta.seenOn | date:"d MMM yyyy - HH:mm:ss" }} | Jouw reactie:</span>
      <span *ngIf="userMeta.reaction">
        <ngx-emoji [emoji]="userMeta.reaction" (emojiClick)="showReactionPicker = !showReactionPicker"></ngx-emoji>
      </span>
      <span *ngIf="!userMeta.reaction">
        geen
      </span>

      <button class="btn btn-primary" title="Pas je reactie aan" (click)="showReactionPicker = !showReactionPicker">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button class="btn btn-danger" *ngIf="userMeta.reaction" title="Verwijder je reactie" (click)="updateReaction(null)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>

    <emoji-mart title="Kies is wat leuks." emoji="point_up" *ngIf="showReactionPicker"
                [style]="{ position: 'absolute' }"
                (emojiSelect)="onClickedReactionEmoji($event)"></emoji-mart>

    <div class="reactions">

      <div class="reaction" *ngFor="let reaction of getAllReactions()">

        <ng-template [ngIf]="reaction.meta.reaction">
          <strong>{{ reaction.user.displayName }}</strong>: <ngx-emoji [size]="16" [emoji]="reaction.meta.reaction"></ngx-emoji>
        </ng-template>
        <ng-template [ngIf]="!reaction.meta.reaction">
          <strong>{{ reaction.user.displayName}}</strong> heeft de episode gezien.
        </ng-template>

      </div>

    </div>



  </div>



</div>

<div style="height: 1000px"></div>
