<table class="table table-striped details">
  <tbody>
  <tr *ngIf="movie.imdbRating">
    <th>IMDB</th>
    <td>{{movie.imdbRating | number:"1.1-1" }}/10
      <small *ngIf="movie.imdbVotes">({{movie.imdbVotes | number:"1.0-0" }} votes)</small>
    </td>
  </tr>
  <tr *ngIf="!movie.imdbRating">
    <th>IMDB</th>
    <td>Onbekend</td>
  </tr>
  <tr *ngIf="movie.metacriticScore">
    <th>Metacritic</th>
    <td>{{movie.metacriticScore}}/100</td>
  </tr>
  <tr>
    <th>Release datum</th>
    <td *ngIf="movie.released">{{movie.released | date:"d MMMM yyyy" }}</td>
    <td *ngIf="!movie.released">{{movie.year}}</td>
  </tr>
  <tr>
    <th>Looptijd</th>
    <td>{{getRuntime()}}</td>
  </tr>
  <tr *ngIf="movie.ageRating">
    <th>Leeftijd rating</th>
    <td>{{movie.ageRating}}</td>
  </tr>
  <tr *ngIf="movie.originalTitle != null && movie.title != movie.originalTitle">
    <th>Originele titel</th>
    <td>{{movie.originalTitle}}</td>
  </tr>
  <tr *ngIf="movie.dutchTitle != null">
    <th>Nederlandse titel</th>
    <td>{{movie.dutchTitle}}</td>
  </tr>
  <tr *ngIf="genres">
    <th>Genres</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let wrapper of movie.genres">{{wrapper.genre}}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="languages">
    <th>Talen</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let wrapper of movie.languages">{{wrapper.language}}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="languages">
    <th>Talen</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let wrapper of movie.languages">{{wrapper.language}}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="people && movie.writers">
    <th>Schrijvers</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let person of movie.writers">{{person.name}}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="people && movie.directors">
    <th>Directors</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let person of movie.directors">{{person.name}}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="movie.collections">
    <th>Collecties</th>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let collection of movie.collections">
          {{ collection.title }}
<!--          <a href="#" (click)="$event.preventDefault(); applyCollectionFilter(collection)" title="Filter films op deze collectie">-->
<!--            {{ collection.title }}-->
<!--          </a>-->
        </li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="movie.addedBy != null">
    <th>Toegevoegd door</th>
    <td>{{getUserRepresentation()}}</td>
  </tr>
  </tbody>
</table>
