<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Genre</label>
      <ng-select [clearable]="true"
                 [multiple]="true"
                 [bindLabel]="'text'"
                 [items]="availableGenres"
                 [disabled]="genres === null"
                 [placeholder]="genresPlaceholder"
                 (change)="emitChange()"
                 [(ngModel)]="selectedGenres">
      </ng-select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Taal</label>
      <ng-select [clearable]="true"
                 [multiple]="true"
                 [bindLabel]="'text'"
                 [items]="availableLanguages"
                 [disabled]="languages === null"
                 [placeholder]="languagesPlaceholder"
                 (change)="emitChange()"
                 [(ngModel)]="selectedLanguages">
      </ng-select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <lijstr-list-person-filter #directorFilter *ngIf="active"
                               [multiple]="false"
                               label="Directors"
                               [peopleFetcher]="peopleService.directors"
                               (updated)="emitChange()">
    </lijstr-list-person-filter>
  </div>

  <div class="col-xs-12 col-sm-6">
    <lijstr-list-person-filter #writerFilter *ngIf="active"
                               [multiple]="false"
                               label="Schrijvers"
                               [peopleFetcher]="peopleService.writers"
                               (updated)="emitChange()">
    </lijstr-list-person-filter>
  </div>

</div>
