<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Genre</label>
      <ng-select [allowClear]="true"
                 [multiple]="true"
                 [items]="availableGenres"
                 [disabled]="availableGenres.length === 0"
                 [placeholder]="genresPlaceholder"
                 (data)="setSelectedGenres($event)">
      </ng-select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label>Taal</label>
      <ng-select [allowClear]="true"
                 [multiple]="true"
                 [items]="availableLanguages"
                 [disabled]="availableLanguages.length === 0"
                 [placeholder]="languagesPlaceholder"
                 (data)="setSelectedLanguages($event)">
      </ng-select>
    </div>
  </div>
</div>
