<div class="users-header">
  <h1>Users</h1>
  <div style="margin-bottom: 10px">
    <button class="btn btn-success" routerLink="add">Add user</button>
  </div>
</div>

<ng-template let-value="value" #timestampCell>
  {{ value ? (value | date:"yyyy-MM-dd HH:mm:ss") : 'N/A' }}
</ng-template>
<ng-template let-value="value" #permissionsCell>
  <ul class="list-unstyled">
    <li *ngFor="let gp of value">
      {{ gp.authority | formatPermission }}
    </li>
  </ul>
</ng-template>

<ngx-datatable
  #userList
  id="user-list"
  class="material striped"
  trackByProp="user.id"
  [columnMode]="tableColumnMode"
  [selectionType]="tableSelectionType"
  [scrollbarV]="true"
  [rowHeight]="determineRowHeight"
  [columns]="columns"
  [rows]="users"
  (select)="onUserSelected($event)">
</ngx-datatable>

<hr />

<router-outlet></router-outlet>

