.poster-image {
  width: 100%;
  max-width: 250px;
}

.plot ins {
  cursor: pointer;
}

table.details ul {
  margin-bottom: 0;
}

.title {
  margin-top: 0;
}

.bottom-spacing {
  margin-bottom: 50px;
}
