<div class="row">
  <div class="col-sm-9">
    <h1 class="title">{{target.title}}
      <small>({{target.imdbId}})</small>
    </h1>
    <lijstr-target-detail-summary [target]="target"></lijstr-target-detail-summary>
    <lijstr-movie-detail-table [movie]="target" [users]="targetUsers">
    </lijstr-movie-detail-table>
  </div>
  <div class="col-sm-3">
    <lijstr-target-detail-poster [target]="target" [path]="'movies'">
    </lijstr-target-detail-poster>
    <div class="text-center center-block icons">
      <lijstr-movie-watchlist-icon *ngIf="isTargetUser" [movie]="target">
      </lijstr-movie-watchlist-icon>
      <lijstr-youtube-viewer [youtubeId]="target.youtubeUrl"></lijstr-youtube-viewer>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-8">
    <h4>Ratings</h4>
    <lijstr-movie-ratings [availableUsers]="targetUsers"
                          [availableRatings]="target.latestMovieRatings">
    </lijstr-movie-ratings>
  </div>

  <div class="col-md-4" *ngIf="isTargetUser">
    <h4>Rating aanpassen</h4>
    <lijstr-movie-rating [movie]="target"></lijstr-movie-rating>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <lijstr-movie-timeline
      #timeline
      [availableUsers]="targetUsers"
      [movie]="target">
    </lijstr-movie-timeline>
  </div>

  <div class="col-md-6" *ngIf="isTargetUser">
    <lijstr-movie-comment-form [movie]="target" (newComment)="timeline.refresh()">
    </lijstr-movie-comment-form>
  </div>
</div>
