<div class="row">
  <div class="col-sm-9">
    <h1 class="title">{{movie.title}}
      <small>({{movie.imdbId}})</small>
    </h1>
    <lijstr-movie-detail-summary [movie]="movie"></lijstr-movie-detail-summary>
    <lijstr-movie-detail-table [movie]="movie" [users]="movieUsers">
    </lijstr-movie-detail-table>
  </div>
  <div class="col-sm-3">
    <lijstr-movie-detail-poster [movie]="movie">
    </lijstr-movie-detail-poster>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-8">
    <h4>Ratings</h4>
    <lijstr-movie-ratings [availableUsers]="movieUsers"
                          [availableRatings]="movie.latestMovieRatings">
    </lijstr-movie-ratings>
  </div>

  <div class="col-md-4" *ngIf="isMovieUser">
    <h4>Rating aanpassen</h4>
    <lijstr-movie-rating [movie]="movie"></lijstr-movie-rating>
  </div>
</div>

<br class="bottom-spacing" />

<lijstr-movie-timeline [movie]="movie"></lijstr-movie-timeline>
