<div *ngIf="userStats != null">

  <div class="row">
    <div class="col-xs-12">
      <h1>{{stats.numberOfMovies}} films!</h1>
      <ul class="list-inline list-unstyled">
        <li>IMDB: <strong>{{stats.averageImdb | number:"1.2-2"}}</strong></li>
        <li>Metacritic: <strong>{{stats.averageMetacritic | number:"1.1-1"}}</strong></li>
        <li>Looptijd: <strong>{{stats.averageRuntime | number:"1.1-1"}} min</strong></li>
        <li><small>(gemiddelden)</small></li>
      </ul>
    </div>
  </div>

  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Naam</th>
      <th>Ingevuld</th>
      <th>Gezien</th>
      <th>Niet gezien</th>
      <th>Gezien?</th>
      <th>'?' rating</th>
      <th>Ratings met comments</th>
      <th>Gem. rating</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let userData of userStats">
      <th>{{userData['user']}}</th>
      <td *ngFor="let key of keys" [ngClass]="getClassesForKey(key, userData)">
        {{userData['stats'][key]}}
      </td>
      <td [ngClass]="getClassesForKey('averageRating', userData)">
        {{userData['stats'].averageRating | number:"1.2-2"}}
      </td>
    </tr>
    <tr *ngFor="let lazyUser of lazyStats">
      <th>{{lazyUser}}</th>
      <td colspan="7">heeft nog niks ingevuld...</td>
    </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <lijstr-recently-changed [title]="'Pas toegevoegd'" [fetchFunction]="recentlyAddedFunc">
      </lijstr-recently-changed>
    </div>
    <div class="col-md-4">
      <lijstr-recently-changed [title]="'Nieuwe ratings'" [fetchFunction]="newRatingsFunc">
      </lijstr-recently-changed>
    </div>
    <div class="col-md-4">
      <lijstr-recently-changed [title]="'Nieuwe comments'" [fetchFunction]="newCommentsFunc">
      </lijstr-recently-changed>
    </div>
  </div>

</div>

<div *ngIf="error != null" class="alert alert-danger">
  Er is iets mis gegaan... <br/>
  {{error.toString()}}
</div>

<lijstr-loading *ngIf="stats == null && error == null"></lijstr-loading>
