<div class="form-group">
  <label>{{ label }}</label>
  <ng-select [clearable]="true"
             [multiple]="multiple"
             bindLabel="text"
             [items]="people | async"
             [disabled]="people === null"
             [placeholder]="placeholder"
             [minTermLength]="minCharacters"
             [trackByFn]="trackById"
             [loading]="loading"
             typeToSearchText="Typ op z'n minst 2 tekens"
             (change)="onSelected()"
             [typeahead]="searchInput"
             [(ngModel)]="selected">
  </ng-select>
</div>
