<!-- TODO: Add arrows on the sides to switch to the next/prev episode -->

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="title">
        <a href="#" (click)="backToShow($event)" title="Terug naar de serie">
          {{ show.title }}
        </a>
        -
        <ng-template #seasonTitle>
          {{ season.specials ? 'Specials' : 'Seizoen ' + ( season.seasonNumber | number:'2.0-0' ) }}
        </ng-template>

        <ng-template [ngIf]="!showingEpisode">
          <ng-template [ngTemplateOutlet]="seasonTitle"></ng-template>
        </ng-template>
        <ng-template [ngIf]="showingEpisode">
          <a href="#" (click)="backToSeason($event)" title="Toon seizoen informatie">
            <ng-template [ngTemplateOutlet]="seasonTitle"></ng-template>
          </a>
        </ng-template>
      </h1>

      <blockquote class="plot">
        <!-- TODO: Hide in no-spoiler mode -->
        <p>{{ season.overview ? season.overview : 'Er is geen beschrijving van dit seizoen.' }}</p>
      </blockquote>

      <lijstr-show-season-table [season]="season"></lijstr-show-season-table>

    </div>
    <div class="col-sm-3">

      <div class="text-center center-block">
        <img class="img-rounded poster-image" src="{{ getPosterURL() }}" alt="{{ show.title }} - Season {{ season.seasonNumber }} - Poster"/>
      </div>

    </div>
  </div>
</div>

<hr />

<lijstr-show-season-episodes-swiper [season]="season" [seenMap]="seenMap"></lijstr-show-season-episodes-swiper>

<hr />

<router-outlet #routerOutlet (activate)="showingEpisode = true" (deactivate)="showingEpisode = false"></router-outlet>

<div class="container" style="min-height: 500px;" *ngIf="!showingEpisode">

  <div class="row">

    <div class="col-xs-12" [class.col-md-8]="isShowUser">

      <h4>Ratings</h4>

      <span *ngFor="let user of users">
        {{ user.displayName }}
      </span>


    </div>

    <div class="col-xs-12 col-md-4" *ngIf="isShowUser">
      <h4>Jouw rating</h4>

    </div>


  </div>
</div>
