<h1>Reset password</h1>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm" [hidden]="submitting">

  <div class="form-group">
    <label for="password">Wachtwoord</label>
    <input type="password" class="form-control" required minlength="5"
           id="password" name="password" #password="ngModel"
           [(ngModel)]="request.newPassword">
  </div>

  <div class="form-group">
    <label for="password2">Nogmaals</label>
    <input type="password" class="form-control" required minlength="5"
           id="password2" name="password2" #password2="ngModel"
           [(ngModel)]="repeatPassword">
    <div [hidden]="password.pristine || password2.pristine || (password.valid && password2.valid && password.value == password2.value)"
         style="margin-top: 10px;"
         class="alert alert-danger">
      Vul je wachtwoord anders ff goed in.
    </div>
  </div>

  <div *ngIf="error != null" class="alert alert-danger">
    {{ error }}
  </div>

  <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid || password.value != password2.value">Reset</button>

</form>

<div *ngIf="submitting">
  <img src="https://telluur.com/wtf/gifs/lazerbeam.gif" />
</div>
