<div class="row">
  <div class="col-xs-4">
    <h1 class="title">Films</h1>
  </div>
  <div class="col-xs-8 list-options">
    <button class="btn btn-primary" [disabled]="!settingsEditable" (click)="settingsModal.show()">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <lijstr-list-filter (filtered)="onNewList($event)">
    </lijstr-list-filter>
  </div>
</div>

<lijstr-list-pager #pager [caller]="getCaller()"></lijstr-list-pager>

<!-- DataTable cell templates -->
<template let-value="value" #valueCell>
  {{value}}
</template>
<template let-value="value" #imdbCell>
  {{value ? (value | number:"1.1-1") : "N/A" }}
</template>
<template let-value="value" #metacriticCell>
  {{value ? value : "N/A"}}
</template>
<template let-value="value" #userCell>
  <u *ngIf="value && value.comment">{{representativeRating(value)}}</u>
  <ng-container *ngIf="!value || !value.comment">{{representativeRating(value)}}</ng-container>
</template>

<ngx-datatable
  #movieList
  id="movie-list"
  class="material striped"
  [columnMode]="'flex'"
  [columns]="columns"
  [rows]="summaries"
  [reorderable]="false"
  [externalSorting]="true"
  [scrollbarV]="true"
  [selected]="selected"
  [selectionType]="'single'"
  [trackByProp]="'id'"
  (sort)="onSort($event)"
  (select)="onSelect($event)">

</ngx-datatable>

<hr />

<router-outlet></router-outlet>

<div class="modal fade" bsModal #settingsModal="bs-modal" role="dialog" (onHide)="listSettings.emit()" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Instellingen</h4>
        <button type="button" class="close pull-right" (click)="settingsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <lijstr-list-settings #listSettings
                              [userTemplateRef]="userCell"
                              [requiredColumns]="requiredColumns"
                              [availableColumns]="availableColumns"
                              (orderedColumns)="setColumns($event)"
                              (editable)="setSettingsEditable($event)">
        </lijstr-list-settings>
      </div>
    </div>
  </div>
</div>
