<h1 class="title">Films</h1>

<ngx-datatable
  id="movie-list"
  class="material striped"
  [columnMode]="'flex'"
  [rows]="summaries"
  [reorderable]="false"
  [scrollbarV]="true"
  [selected]="selected"
  [selectionType]="'single'"
  [trackByProp]="'id'"
  (select)="onSelect($event)">

  <ngx-datatable-column name="Titel" prop="title" [flexGrow]="3">
    <template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Jaar" prop="year" [flexGrow]="1">
    <template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="IMDB" prop="imdbRating" [flexGrow]="1">
    <template let-value="value" ngx-datatable-cell-template>
      {{value ? (value | number:"1.1-1") : "N/A" }}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="MC" prop="metacriticScore" [flexGrow]="1">
    <template let-value="value" ngx-datatable-cell-template>
      {{value ? value : "N/A"}}
    </template>
  </ngx-datatable-column>

</ngx-datatable>

<hr />

<router-outlet></router-outlet>
