<swiper [config]="config">

  <div *ngFor="let season of show.seasonsIncludingSpecials" class="season-item">

    <div class="season-item__content" (click)="toSeason($event, season)">
        <figure class="ratio">
          <div style="padding-bottom: 132%;"></div>
          <img src="https://image.tmdb.org/t/p/w500{{season.posterImage}}" />
          <div class="season-overlay" [ngStyle]="{ 'width': getSeenPercentage(season) + '%' }"></div>
          <div class="season-overlay-status" *ngIf="getSeenPercentage(season) === 100.0">&#10003;</div>
        </figure>
    </div>
  </div>

</swiper>
