<div class="row">
  <div class="col-sm-9">
    <h1 class="title">{{target.title}}
      <small>({{target.imdbId}})</small>
    </h1>
    <lijstr-target-detail-summary [target]="target"></lijstr-target-detail-summary>
    <lijstr-target-detail-table [show]="target" [users]="targetUsers">
    </lijstr-target-detail-table>
  </div>
  <div class="col-sm-3">
    <lijstr-target-detail-poster [target]="target" [path]="'shows'">
    </lijstr-target-detail-poster>
    <div class="text-center center-block icons">
      <!--<lijstr-movie-watchlist-icon *ngIf="isTargetUser" [movie]="target">-->
      <!--</lijstr-movie-watchlist-icon>-->
      <lijstr-youtube-viewer [youtubeId]="target.youtubeUrl"></lijstr-youtube-viewer>
    </div>
  </div>
</div>
